{% extends "index.html" %}
{% set active_page = "sell" %}
{% block content %}

<center><h3>Kalkulator walutowy</h3>
<form method="post" action=""> 
<p>Dane pochodzą ze strony NBP i są stale aktualizowane.</p>
</br>

<a class="btn btn-primary  {{ 'active' if active_page == 'buy' else'' }}" href="{{url_for('ask')}}" role="button">Kupno</a>
<a class="btn btn-primary  {{ 'active' if active_page == 'sell' else'' }}" href="{{url_for('bid')}}" role="button">Sprzedaż</a>
</br>
</br>
<label for="currency">Wybierz walutę:</label>
</br>

<select name="currency">

<option value="USD">USD</option>
<option value="AUD">AUD</option> 
<option value="CAD">CAD</option>
<option value="EUR">EUR</option>
<option value="HUF">HUF</option>
<option value="CHF">CHF</option>
<option value="GBP">GBP</option>
<option value="JPY">JPY</option>
<option value="CZK">CZK</option>
<option value="DKK">DKK</option>
<option value="NOK">NOK</option>
<option value="SEK">SEK</option>
<option value="XDR">XDR</option>
</select>
</br>
</br>
<div class="col-sm-7">
<input type="number" class="form-control" placeholder="Ile chcesz sprzedać?" aria-label="" id="validationCustom01"  name="number" required><br>
</div>
</br>
<button type="submit"  class="btn btn-primary">Policz</button>
</form>
</br>
<h3>-- {{result}} -- PLN</h3>   
</center>
</body>

{% endblock %}